body {
    background-color: lightcoral;
    margin: 0;
    height: 100vh;
}

.calculatorcontainer{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    
    background-color:lightsalmon;

}
.buttons{
    padding: 1vw;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, minmax(30px, 5vw));
    grid-template-rows: repeat(5, 5vw);
    grid-template-areas:
    "display display display display"
    "button7 button8 button9 buttonplus"
    "button4 button5 button6 buttonminus"
    "button1 button2 button3 buttonx"
    "button0 buttonc buttonequals buttondiv";
}

.display {
    background-color: snow;
    width: 100%;
    grid-area: display;
}

.button{
    background-color: lightblue;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3.5vw;
}

#button0{
    grid-area: button0;
}
#button1{
    grid-area: button1;
}
#button2{
    grid-area: button2;
}
#button3{
    grid-area: button3;
}
#button4{
    grid-area: button4;
}
#button5{
    grid-area: button5;
}
#button6{
    grid-area: button6;
}
#button7{
    grid-area: button7;
}
#button8{
    grid-area: button8;
}
#button9{
    grid-area: button9;
}
#buttonadd{
    grid-area: buttonplus;
}
#buttonsubtract{
    grid-area: buttonminus;
}
#buttonmultiply{
    grid-area: buttonx;
}
#buttondivide{
    grid-area: buttondiv;
}
#buttonclear{
    grid-area: buttonc;
}
#buttonequals{
    grid-area: buttonequals;
}